@using FoodAir.Models;
@model IEnumerable<LoaiSanPham>
@{
    ViewBag.Title = "Thực Đơn";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}

<div class="main-banner-2">

</div>

<section class="portfolio py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="title-section text-center mb-md-5 mb-4">
            <h3 class="w3ls-title mb-3">Thực <span>Đơn</span></h3>
            <p class="titile-para-text mx-auto">
                Inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.Nemo
                enim totam rem aperiam.
            </p>
        </div>

        @foreach (var item in Model)
        {
            <h5>@item.TenLoai</h5>

            <div class="row mt-md-5">
                @Html.Action("SanPhamPartial", "SanPham", new { MaLoaiSP = item.MaLoaiSP })
            </div>
        }

    </div>
</section>


