@model FoodAir.Models.KhachHang
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TruyVanDoiTuong</title>
</head>
<body>
    <div> 
        @Model.TenKH
    </div>
</body>
</html>
